.pertanyaan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.komponen {
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    width: 100%;
}

.komponen.show {
    opacity: 1;
}

.tanya {
    font-family: Montserrat, sans-serif;
    width: "100%";
    text-align: left;
    font-weight: 400;
    padding: 5px 20px 5px 20px;
    background-color: #ffffff;
    min-height: 50px;
    z-index: -40;
    overflow-wrap: anywhere;
}

.pasal {
    font-weight: 600;
}

.list {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    overflow-wrap: anywhere;
}
